.cart {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.cart .cart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ECECEC;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 75%;
  padding: 10px;
}
.cart .cart-content h2 {
  margin-bottom: 0;
}
.cart .cart-content a {
  text-decoration: none;
  color: #006CFF;
}
.cart .cart-content a:hover {
  text-decoration: underline;
  color: #00AAFF;
}
.cart .cart-content .cart-total {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
}
.cart .cart-content .cart-total p {
  margin-right: 20px;
}
.cart .cart-content .cart-panel {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.cart .cart-content .cart-panel button {
  width: 120px;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.cart .cart-content .cart-panel .buy-cart {
  background-color: #006CFF;
}
.cart .cart-content .cart-panel .buy-cart:hover {
  background-color: #00AAFF;
}
.cart .cart-content .cart-panel .empty-cart {
  background-color: #FF5028;
}
.cart .cart-content .cart-panel .empty-cart:hover {
  background-color: #FF7346;
}
.cart .cart-content.empty {
  align-items: center;
}
.cart .cart-content.dark {
  background-color: #2D2D2D;
  border: 2px solid #3F3F3F;
  color: white;
}