.login-section
    display: flex
    justify-content: center
    flex-grow: 1

    .login-panel
        display: flex
        flex-direction: column
        justify-content: center
        width: 300px
        padding: 20px   
        border-radius: 10px
        background-color: #F8F8F8
        border: 1px solid #C5C5C5

        label
            display: flex
            flex-direction: column
            margin-bottom: 5px
        
            input
                margin-bottom: 5px
                padding: 10px
                border: 1px solid #C5C5C5
                border-radius: 5px

            span
                font-size: 12px
                font-weight: bold
                color: #FF5028
                margin-bottom: 10px

        .log-session
            cursor: pointer
            padding: 10px 0
            background-color: #006CFF
            color: white
            border: none
            border-radius: 5px
            &:hover
                background-color: #00AAFF


    .login-welcome
        text-align: center

    .login-panel.dark
        background-color: #2D2D2D
        border: 1px solid #3F3F3F
        color: white
        input
            border: 1px solid #3F3F3F