.login-section {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.login-section .login-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F8F8F8;
  border: 1px solid #C5C5C5;
}
.login-section .login-panel input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #C5C5C5;
  border-radius: 5px;
}
.login-section .login-panel .log-session {
  cursor: pointer;
  padding: 10px 0;
  background-color: #006CFF;
  color: white;
  border: none;
  border-radius: 5px;
}
.login-section .login-panel .log-session:hover {
  background-color: #00AAFF;
}
.login-section .login-welcome {
  text-align: center;
}
.login-section .login-panel.dark {
  background-color: #2D2D2D;
  border: 1px solid #3F3F3F;
  color: white;
}
.login-section .login-panel.dark input {
  border: 1px solid #3F3F3F;
}