.footer-info {
  background-color: #2D2D2D;
  color: white;
  margin-top: 20px;
}
.footer-info nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-info nav .footer-contact {
  display: flex;
  flex-direction: column;
}
.footer-info nav .footer-contact h4 {
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.footer-info nav .footer-contact ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-info nav .footer-contact ul li {
  font-size: 14px;
  margin: 5px 0;
  cursor: default;
}
.footer-info hr {
  border-color: #434343;
  margin-top: 25px;
  margin-bottom: 15px;
}
.footer-info .footer-rights {
  text-align: center;
  font-size: 12px;
  padding-bottom: 25px;
}