#footer-info {
  background-color: #2D2D2D;
  color: white;
}
#footer-info nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#footer-info nav .footer-contact header {
  font-weight: bold;
  margin: 10px 0;
}
#footer-info nav .footer-contact ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#footer-info nav .footer-contact ul li {
  font-size: 14px;
  margin: 5px 0;
}
#footer-info hr {
  border-color: #434343;
  margin-top: 25px;
  margin-bottom: 15px;
}
#footer-info #footer-rights {
  text-align: center;
  font-size: 12px;
  padding-bottom: 25px;
}